:root {
  --scrollbar-width: 8px;
  --scrollbar-background-color: var(--color-dark);
  --scrollbar-thumb-color: var(--color-accent);
}

::-webkit-scrollbar-track {
	background-color: var(--scrollbar-background-color);
}

::-webkit-scrollbar {
	width: var(--scrollbar-width);
	background-color: var(--scrollbar-background-color);
}

::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thumb-color);
}

* {
	scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-background-color);
	scrollbar-width: thin;
}
