//pre-created normalize.scss
@import './normalize/normalize.scss';

//digital-butlers custom resetting
@import './variables/pallette.scss';

@import './reset/reset.scss';

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100svh;
  background-color: var(--color-light);
}

main {
  flex-grow: 1;
  padding: 0;
}

h1 {
  font-size: 4rem;
  line-height: 1.2em;
  letter-spacing: -0.05em;
}