@use 'sass:color';

$colors: (
  accent: #ff573a,
  bright: #00ffae,
  light: #ededed,
  white: #fff,
  dark: #050001,
);

$color-variables: create-color-variables($colors);

:root {
  @each $variable, $value in $color-variables {
    #{$variable}: #{$value}
  }
}